input[type="search"] {
	height: 30px;
}
.heading {
	background-color: #25274d;
	color: white;
	text-align: center;
	border-radius: 50px;
	margin: 20px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-type-demo {
	margin-top: 60px;
	text-align: center;
}
.input-type-demo p {
	margin-top: 35px;
	text-align: center;
}
@media only screen and (max-width: 600px) {
	.input-type-demo {
		margin-left:0px;
	}
	.input-type-demo p {
		margin-left: 0px;
		text-align: center;
	}
}
@media only screen and (max-width: 814px) {
	.input-type-demo {
		margin-left: 0px;
	}
	.input-type-demo p {
		margin-left: 0px;
		text-align: center;
	}
}