.card-bg {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 650px;
}
.card-collection { 
    max-height: 600px;
    min-height: 0px;
    box-shadow: 0 4px 8px 0 gray;
    max-width:64rem;
    margin: 20px auto;
    font-family: sans-serif;
    font-weight: lighter;
    overflow-y: scroll;
}
.search-card {
    padding: 1rem;
    max-width: 900px;
    min-width: 300px;
    margin: 1.5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 #808080;
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
} 
.hotel-image {
    width: 15rem;
    height: 10rem;
}
.rating {
    width:250px;
}
.checked {
    color: orange;
}
.address {
    margin-bottom: 20px;
    font-weight: bold;
    color: #808080;
}
.address-button {
    width: 250px;
    text-align: center;
}
.red {
    background-color: #a91b0d; 
}
.yellow {
    background-color:#EB9605;
}
.green {
    background-color:#008000;
}
.book-button {
    width: 250px;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 0.1rem;
    color: #ffffff;
    border: none;
    border-radius: 50px;
}
.avail {
    margin-top: 15px;
    font-size: 12px;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid;
}

@media only screen and (max-width: 600px) {
    .search-card {
        padding: 1rem;
        max-width: 900px;
        min-width: 300px;
        margin: 1.5rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0 4px 8px 0 #808080;
        transition: 0.3s;
        display: flex;
        flex-wrap: wrap;
    } 

    .card-collection { 
        max-height: 600px;
        min-height: 0px;
        box-shadow: 0 4px 8px 0 gray;
        max-width:64rem;
        margin: 5px auto;
        font-family: sans-serif;
        font-weight: lighter;
        overflow-y: scroll;
    }
    .hotel-image {
        width: 11rem;
        height: 7rem;
    }
    .rating {
        text-align: center;
    } 
  }

  @media only screen and (max-width: 900px) {
    .search-card {
        justify-content: center;
    }
   
  }